
form.login{
    max-width: 400px;
    margin: 0 auto;
    
}
button{
     width: 104%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
} 

form h1{
    text-align: center;
}